.login {
  background-color: purple;
  font-family: Arial;
  height: 80px;
}

.nav {
  color: black;
  font-size: large;
  padding: 12%;
  text-decoration: none;
  justify-content: space-between;
}

.nome {
  font-size: medium;
  text-align: center;
  border: solid 1px;
  width: 70px;
  border-radius: 20px;
  padding-top: 2px;
}
