.login{
  text-align: center;
  background-color: purple;
  height: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: baseline;
}

.nav{
  text-decoration: none;
  padding: 4%;
}